<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Civil App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="{% static 'js/tables.js' %}"></script>
</head>
<body class="bg-dark" onload="animateValue('value', 0, 100, 1000); animateValue('value2', 0, 60, 1000);animateValue('value3', 0, 40, 1000)">

<div class="container">
    <div class="jumbotron">
      <nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-dark rounded">
        <a class="navbar-brand" href="{% url 'main' %}">CivilApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav text-right">
            {% if 'roapp/main/' in request.path %}
            <a class="nav-item nav-link active" type="button" data-toggle="modal" data-target="#ModalForm">Add a new record </a>
            <a class="nav-item nav-link active" href="{% url 'search' %}">Search or edit records</a>
            {% endif %}
            {% if 'roapp/edit/' in request.path or 'roapp/detail/' in request.path%}
            <a class="nav-item nav-link active" href="{% url 'search' %}">Search or edit records</a>
            {% endif %}
          </div>
        </div>
      </nav>
  <br>
    {% if 'roapp/main/' in request.path or 'roapp/search/' in request.path %}

		<div class="row">
			<div class="col">
				<div class="col-md">
					<div class="card text-center mb-3 bg-dark text-white">
						  <div class="card-header">
							  <h5 class="card-title">Total Requests</h5>
						  </div>
						  <div class="card-body">
                            <h3 class="card-title" id="value" ></h3>
						  </div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="col-md">
					<div class="card text-center mb-3 bg-info text-white">
						  <div class="card-header">
							  <h5 class="card-title">In-progress Requests</h5>
						  </div>
						  <div class="card-body">
							<h3 class="card-title" id="value2" ></h3>
						  </div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="col-md">    
					<div class="card text-center mb-3 bg-dark text-white">
						  <div class="card-header">
							  <h5 class="card-title">Finished Requests</h5>
						  </div>
						  <div class="card-body">
							<h3 class="card-title" id="value3" ></h3>
						  </div>
					</div>
				</div>
			</div>
		</div>
    {% endif %}
  
<!-- Tableee -->

            {% if 'roapp/search/' in request.path %}
            <div class="form-group">
              <div class="row">
                <a class="col-1" ></a>
                <input type="search" class="form-control col-8" id="myInput"  name="search" onkeyup="filterTable()"  placeholder="Enter Site ID to search"> 
                <a class="btn btn btn-success col-2" ><i class="fa fa-plus" aria-hidden="true"></i> Add a new record</a>
                </div>
            </div>
            <table>
                <tr>
                    <th id="elementId"></th>
                </tr>
            </table>
            <div class="table-responsive">
                <div class="table-wrapper" >
                    <table  class="table table-hover" id="myTable">
                        <thead>
                            <tr id="wrapper" class="text-center">
                                <th scope="col" >Site ID<a onclick="sortTable(0)" id="sorticon" class="fa fa-sort-alpha-desc"></a></th>
                                <th scope="col">Consultant name<a onclick="sortTable(1)" id="sorticon" class="fa fa-sort-alpha-desc"></a></th>
                                <th scope="col">Site CS<a onclick="sortTable(2)" id="sorticon" class="fa fa-sort-alpha-desc"></a></th>
                                <th scope="col">Site CS<a onclick="sortTable(3)" id="sorticon" class="fa fa-sort-alpha-desc"></a></th>
                                <th scope="col">Site CS<a onclick="sortTable(4)" id="sorticon" class="fa fa-sort-alpha-desc"></a></th>
                                <th scope="col">Site CS<a onclick="sortTable(5)" id="sorticon" class="fa fa-sort-alpha-desc"></a></th>
                                <th scope="col">Site CS<a onclick="sortTable(6)" id="sorticon" class="fa fa-sort-alpha-desc"></a></th>
                                <th scope="col">Site CS<a onclick="sortTable(7)" id="sorticon" class="fa fa-sort-alpha-desc"></a></th>
                                <th scope="col">Site CS<a onclick="sortTable(8)" id="sorticon" class="fa fa-sort-alpha-desc"></a></th>
                                <th scope="col">Site CS<a onclick="sortTable(9)" id="sorticon" class="fa fa-sort-alpha-desc"></a></th>
                                <th scope="col"> Actions</th>      
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in all_search_results %}
                                <tr class="text-center">  
                                    <td > <strong> {{ result.site_id }} </strong> </td>
                                    <td> {{ result.consultant_name }} </td>
                                    <td> {{ result.site_case }} </td>
                                    <td> {{ result.site_case }} </td>
                                    <td> {{ result.site_case }} </td>
                                    <td> {{ result.site_case }} </td>
                                    <td> {{ result.site_case }} </td>
                                    <td> {{ result.site_case }} </td>
                                    <td> {{ result.site_case }} </td>
                                    <td> {{ result.site_case }} </td>
                                    <td class="btn-group">
                                      <a class="btn btn btn-info" ><i class="fa fa-info-circle" title="Record info"  aria-hidden="true"></i></a>
                                      <a class="btn btn btn-success" href="{% url 'site_edit' pk=result.pk %}"><i class="fa fa-pencil-square-o" title="Edit Record" aria-hidden="true"></i></a>
                                      <a class="btn btn btn-danger" data-toggle="modal" data-target="#exampleModal" ><i class="fa fa-trash-o" title="Delete Record"  aria-hidden="true"></i></a>

                                    </td>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            Are you sure you want to delete this record?
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                                            <a type="button" class="btn btn-danger" href="{% url 'site_remove' pk=result.pk %}">Confirm Delete</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </tr>
                              {% endfor %}
                      </tbody>
                   </table>
                </div>
              </div>
          {% endif %}

          {% if 'roapp/edit' in request.path %}
          <table class="table table-hover">
          <tr class="row">
            <td class="col-2"></td>
            <td class="col" >  <a class='btn btn-dark btn-block' data-toggle="modal" data-target="#ModalForm">Update Record</a> </td>
            <td class="col">  <a class='btn btn-dark btn-block' href="{% url 'detail' pk=inst.pk %}">Record Details</a>   </td>
            <td class="col-2"></td>
          </tr>
          </table>
          {% endif %}

<!-- Site Details -->

      {% if 'roapp/detail' in request.path%}
      <h3 class="display-4 text-center">Site Details</h3>
      <table class="table table-hover">
  
        <tr class="row"> 
          <td class="col-1"> </td>
          <th class="col-3">Site ID</th>
          <td class="col-2">{{site_details.site_id}} </td>
          <td class="col-1"> </td>
          <th class="col-3">Consultant Name</th>
          <td class="col-2">{{site_details.consultant_name}}</td>
        </tr>
  
        <tr class="row"> 
          <td class="col-1"> </td>
          <th class="col-3">Updated at </th>
          <td class="col-2">{{site_details.updated_at}} </td>
          <td class="col-1"> </td>
          <th class="col-3">Consultant Name</th>
          <td class="col-2">{{site_details.consultant_name}}</td>
        </tr>
  
      </table>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this record?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
              <a type="button" class="btn btn-danger" href="{% url 'site_remove' pk=site_details.pk %}">Confirm Delete</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

<!-- MODAAAAAAAAAAAAAL -->

  <div class = "row">
      <div class = "col-md-12">
          <div class="modal fade" id="ModalForm">
            <form  class="form-group" method="POST">
              {% csrf_token %}
              <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                  <div class="modal-content">
                      <div class="modal-header " >
                          <h1 class="col-12 modal-title text-center">Site Maintenance Form</h1>
                      </div>
                      <div class="modal-body">
                          <div class="container-fluid">
                              <div class="row">
                                  <div class="col-md-6">
                                      <label for="site_id"> <b> Site ID:</b></label>
                                      <div></div>

                                      {% if inst.pk %}
                                      <input style="width:350px;" type="text" id="site_id" name = "site_id" value="{{inst.site_id}}">
                                      {% else %}
                                      <input style="width:350px;" type="text" id="site_id" name = "site_id">
                                      {% endif %}

                                  </div>
                                  
                                  <div class="col-md-6">
                                      <label for="consultant_name"> <b>Consultant Name:</b></label>
                                      <select style="width:350px;"  id="consultant_name" name = "consultant_name">
                                        {% for val in cons_vals %}

                                        <option value="{{val}}">{{val}}</option>

                                        {% endfor%}
                                    </select>

                                  </div>
                              </div>
                              
                              <div class="row">
                                  <div class="col-md-6">
                                  <br>
                                    <label for="requester_dept"><b>Requester Dept:</b></label>
                                    <select style="width:350px;"  id="requester_dept" name = "requester_dept">
                                      {% for val in req_vals %}

                                      <option value="{{val}}">{{val}}</option>

                                      {% endfor%}
                                    </select>
                                  </div>

                                  <div class="col-md-6">
                                  <br>
                                    <label for="status"><b>Status:</b></label>
                                    <div></div>
                                    <select style="width:350px;"  id="status" name = "status">
                                      {% for val in stat_vals %}

                                      <option value="{{val}}">{{val}}</option>

                                      {% endfor%}
                                    </select>

                                  </div>
                              
                              </div>

                              <div class="row">
                                  <div class="col-md-6">
                                  <br>
                                    <label for="site_case"><b>Site Case:</b></label>
                                    <select style="width:350px;"  id="site_case" name = "site_case">
                                      {% for val in site_vals %}

                                      <option value="{{val}}">{{val}}</option>

                                      {% endfor%}
                                    </select>

                                  </div>

                                  <div class="col-md-6">
                                  <br>
                                    <label for="building"><b>Building:</b></label>
                                    <div></div>
                                    <select style="width:350px;"  id="building" name = "building">
                                      {% for val in buil_vals %}

                                      <option value="{{val}}">{{val}}</option>

                                      {% endfor%}
                                    </select>

                                  </div>
                              
                              </div>

                              <div class="row">
                                  <div class="col-md-6">
                                  <br>
                                    <label for="action_taken"><b>Action Taken:</b></label>
                                    <select style="width:350px;"  id="action_taken" name = "action_taken">
                                      {% for val in act_vals %}

                                      <option value="{{val}}">{{val}}</option>

                                      {% endfor%}
                                    </select>

                                  </div>

                                  <div class="col-md-6">
                                  <br>
                                    <label for="star_site"><b>Star Site:</b></label>
                                    <div></div>
                                    <select style="width:350px;"  id="star_site" name = "star_site">
                                      {% for val in star_vals %}

                                      <option value="{{val}}">{{val}}</option>

                                      {% endfor%}
                                    </select>

                                  </div>
                              
                              </div>

                              <div class="row">
                                  <div class="col-md-12">
                                  <br>
                                    <label for="remarks"><b>Remarks:</b></label>
                                    <textarea class="form-control" rows="5" id="Remarks" name="Remarks"></textarea>
                                  </div>

                      
                              </div>

                              <div class="row">
                                  <div class="col-md-6">
                                  <br>
                                    <label for="mail_name"><b>Mail Name:</b></label>
                                    <input style="width:350px;"type="text" id="mail_name" name = "mail_name">
                                  </div>

                                  <div class="col-md-6">
                                  <br>
                                    <label for="project_name"><b>Project Name:</b></label>
                                    <div></div>
                                    <input style="width:350px;"type="text" id="project_name" name = "project_name">
                                  </div>
                              
                              </div>

                              <div class="row">
                                  <div class="col-md-12">
                                  <br>
                                    <label for="new_requirement"><b>New Requirement:</b></label>
                                    <textarea class="form-control" rows="5" id="new_requirement" name="new_requirement"></textarea>
                                  </div>

                      
                              </div>

                              <div class="row">
                                  <div class="col-md-6">
                                  <br>
                                    <label for="request_date"><b>Request Date:</b></label>
                                    <input style="width:350px;"type="date" id="request_date" name = "request_date">
                                  </div>

                                  <div class="col-md-6">
                                  <br>
                                    <label for="last_visit"><b>Last Visit:</b></label>
                                    <div></div>
                                    <input style="width:350px;"type="date" id="last_visit" name = "last_visit">
                                  </div>
                              
                              </div>

                              <div class="row">
                                  <div class="col-md-6">
                                  <br>
                                    <label for="feedback"><b>Feedback:</b></label>
                                    <input style="width:350px;"type="date" id="feedback" name = "feedback">
                                  </div>

                                  <div class="col-md-6">
                                  <br>
                                    <label for="max_rating_per"><b>Max Rating Per:</b></label>
                                    <div></div>
                                    <input style="width:350px;"type="text" id="max_rating_per" name = "max_rating_per">
                                  </div>
                              
                              </div>

                              <div class="row">
                                  <div class="col-md-6">
                                  <br>
                                    <label for="employee_email"><b>Employee Email:</b></label>
                                    <div></div>
                                    <input style="width:350px;"type="text" id="employee_email" name = "employee_email">
                                  </div>                                   
                              </div>
                            
                          </div>

                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
                      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                      <script>
                          $(function () {
                              $("#employee_email").autocomplete({
                                  source: '{% url 'autocomplete' %}',
                                  minLength: 2
                              });
                          });
                      </script>
                      <style>
                        ul.ui-autocomplete {
                        z-index: 1100;
                        }
                      </style>
                    </form>
                  </div>
              </div>
          </div>
        </div>
      </div>
      
</body>
</html>
